@import url('../fonts/Poppins.css') 

body
  font-family 'Poppins', sans-serif;
  .bienvenida
    min-height 700px
    background url(../images/carousel-3.jpg) no-repeat center fixed
    background-size: cover
    position: relative
    &::before
      position: absolute
      content: ""
      top     0
      right:  0
      bottom: 0
      left    0
      opacity: 0.9
      background-color: #212529
    