*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: snow;
    color: gray;
}

.container{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid gray;
    padding: 40px;
    border-radius: 20px;
}

article{
    margin-bottom:  50px;
}

article:last-child{
    margin-bottom: 0;
}

.header{
    border-bottom: 1px solid gray;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
}

.header h2{
    margin-bottom: 40px;
}

h1, h2{
    margin: 0;
}

p{
    text-align: justify;
}

button{
    padding: 5px 20px;
    cursor: pointer;
    color: rgb(247,247,247);
    border-radius: 10px;
    outline: none;
    transition: all ease 400ms;
}

.btn-ok{
    border: 1px solid slateblue;
    background-color: slateblue;
}

.btn-cancel{
    border: 1px solid brown;
    background-color: brown;
}

.btn-cancel:hover{
    background-color: rgb(247,247,247);
    color: brown;
    border: 1px solid brown;
}

.btn-ok:hover{
    background-color: rgb(247,247,247);
    color: slateblue;
    border: 1px solid slateblue;
}